<!DOCTYPE html>
<!--
   COLLABORATORS:
   
  -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ready, Set, Translate !</title>
    <link type="text/css" href="jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link type="text/css" href="translate_game.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    
    <script type="text/javascript" src="jquery/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="dicts.json"></script>
    <script type="text/javascript" src="translate_game.js"></script>

  </head>
  <body ng-app="myApp">
    <!-- Your HTML here -->
    <div ng-controller="myController">
      <h1>Translate from {{lang_from}} to {{lang_to}}</h1>
      <table>
        <tr>
          <th>{{lang_from}}</th>
          <th>{{lang_to}}</th>
          <th>Answer</th>
        </tr>
        <tr>
          <td id="form_row" ng-class="bold">{{current_word}}</td>
          <td id="form_row"><form ng-submit="do_submit()"><input id='input' ng-model="user_answer" autofocus></form></td>
          <td id="form_row"><button ng-click="do_submit()">See Answer</button></td>
        </tr>
        <tr ng-repeat="translation in translations">
          <td ng-class="set_style({{translation.correct}}, 'source')">{{translation.source}}</td>
          <td ng-class="set_style({{translation.correct}}, 'translation')">{{translation.translation}}</td>
          <td ng-class="set_style({{translation.correct}}, 'correct')">{{translation.correct}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
