html {
    background-color: #eee;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

td, h1 {
	text-align: : left;
	padding-left: 10px;
}

th {
	text-align: left;
	padding-left: 10px;
}

#form_row {
	padding-bottom: 20px;
}


.ui-menu .ui-menu-item a{
    /*color: #96f226;*/
    border-radius: 0px;
    /*border: 1px solid #454545;*/
}

.strike {
  text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.blue {
	color: blue;
}
.ui-icon {
	display: inline-block;
	padding-left: 10px;
	margin-left: 10px;
	width: 8px;
}

/* Your CSS here */
