html {
    background-color: #eee;
}

td, h1 {
	text-align: : left;
	padding-left: 10px;
}

th {
	text-align: left;
	padding-left: 10px;
}

#form_row {
	padding-bottom: 20px;
}


.ui-menu .ui-menu-item a{
    border-radius: 0px;
}

.strike {
  text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.blue {
	color: blue;
}
.ui-icon {
	display: inline-block;
	padding-left: 10px;
	margin-left: 10px;
	width: 8px;
}

